language: cpp

dist: trusty

env:
  global:
     - secure: "aRxEKBXnGy2PWEYtjVX9wBKFIsX738w44/h+8cJX8Tqr5dUNuJ5SzXqvavjrM8guTi8GMh1DgtTcwYIlc+RbjQ1U6ynFeP4BBveYMhyI/18A4EZsIFjcAQ9oaoqLBl8YR77Lk7GVEEohvRjfbdNfnyldjRQe5rSuI2c7s/xlQAk="

  matrix:
     - TARGET='trusty-amd64-clang'
     - TARGET='trusty-amd64-gcc'
     - TARGET='windows-amd64'
     - TARGET='windows-i686'

before_install:
  - ./deploy/travis-ci/$TARGET/before-install.sh

script:
  - ./deploy/travis-ci/$TARGET/script.sh
